<!DOCTYPE html>
<html>
<head>
    <title>Details Page</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="details-page"> 
<header>
    <div>
        <nav class="nav-wrapper">
          <ul class="menu-bar">
            <li><a href="/">Home</a></li>
            <li><a href="/details">Predict</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </nav>
    </div>

</header>
<main class="details">
    <div>
    
        <h3>Upload Your Image</h3>
        <form method="POST" enctype="multipart/form-data">
            <label>Choose Image:</label>
            <input type="file" name="image" required>
            <button type="submit">Upload</button>
        </form>
    </div>
</main>
</body>
</html>
