@use "variables" as *;
@use "sass:color";

footer {
  background: $primary-bg;
  color: $text-color;
  text-align: center;
  padding: 20px;
  font-size: 0.95rem;
  border-top: 1px solid color.adjust($primary-bg, $lightness: -10%);

}

