@use "variables" as *;

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0 30px;
  background: url('../images/bg6.jpg') center/cover no-repeat;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.4);
  color: #ffffff;
  position: relative;

  .hero-content {
    max-width: 700px;
    text-align: left;
    font: 800 1.2rem $font-alt;

    h1 {
      font-family: 'Barlow Condensed', sans-serif;
      font-weight: 900;
      font-size: 6rem;
      margin-bottom: 20px;
      text-shadow: 2px 2px 4px rgb(0, 0, 0);
    }
  }
}

